<footer class="footer" id="footer">
	<div class="container">
	  <div class="row footer-blocks">
	    <div class="col-md-3">
	      <h4>Products</h4>
	      <ul class="list-unstyled">
	      	<li><a href="#">Printed Circuit Boards</a></li>
	      	<li><a href="#">Intelligent
	      	<li><a href="#">Electronic &amp; Electro-mechanical Components</a></li>
					<li><a href="#">Power and Control Systems</a></li> 	
	      </ul>
	    </div>
	    <div class="col-md-3">
	      <h4>Services</h4>
	      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	   </div>
	    <div class="col-md-3">
	      <h4>Company</h4>
	      <ul class="list-unstyled">
	      	<li><a href="#">About us</a></li>
	      	<li><a href="#">Our values</a></li>
	      	<li><a href="#">Compliance</a></li>
	      	<li><a href="#">Innovations</a></li>
	      	<li><a href="#">Newsroom</a></li>
	      	<li><a href="#">Contact us</a></li>
	      </ul>
	    </div>
	    <div class="col-md-3">
	      <h4>Social</h4>
	      <ul class="social list-unstyled">
	      	<li><a href="#">Facebook</a></li>
	      	<li><a href="#">Twitter</a></li>
	      	<li><a href="#">LinkedIn</a></li>
	      	<li><a href="#">Youtube</a></li>
	      	<li><a href="#">Xing</a></li>
	      </ul>
	    </div>
	  </div>
	  <div class="copyright">
	  	<div class="row">
		    <div class="col-md-6">Copyright &copy; 2017 Würth Elektronik. All rights reserved.</div>
		    <div class="col-md-6 text-right">
		    	Sitemap | Imprint / Data Protection | Website Contact
		    </div>
	  	</div>
	  </div>
	</div> 
</footer><!-- /footer -->
