description = "Header/navigation"
==
<!-- <nav class="navbar navbar-inverse bg-inverse navbar-tools navbar-toggleable justify-content-end" id="navbar-tools">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link href="#">Search</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="dropdown-lang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN</a>
      <div class="dropdown-menu" aria-labelledby="dropdown-lang">
        <a class="dropdown-item" href="#">DE</a>
        <a class="dropdown-item" href="#">FR</a>
        <a class="dropdown-item" href="#">EN</a>
      </div>
    </li>
  </ul>
  <form class="form-inline hidden-xs-up">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav> -->

<nav class="navbar navbar-toggleable-sm navbar-main" id="navbar-main">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-nav-main" aria-controls="navbar-nav-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="pe-7s-menu"></span>
  </button>
  <a class="navbar-brand" href="/"><img src="{{ 'assets/images/logo.png'|theme }}" alt="Wurth Elektronik"></a>

  <div class="collapse navbar-collapse justify-content-end" id="navbar-nav-main">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Toolbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Downloads</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <div class="dropdown dropdown-language">
          <a class="nav-link dropdown-toggle" href="#" id="language-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            EN
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="language-link">
            <a class="dropdown-item" href="#"><img src="/themes/we/assets/images/flags/usa.png" alt="English">English</a>
            <a class="dropdown-item" href="#"><img src="/themes/we/assets/images/flags/france.png" alt="French">French</a>
            <a class="dropdown-item" href="#"><img src="/themes/we/assets/images/flags/germany.png" alt="German">German</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="motto">
    <span class="tagline">More than you expect</span>
    <div class="red-block"></div>
    <!-- <img src="{{ 'assets/images/motto.png'|theme }}" alt="Wurth Elektronik"></a> -->
  </div>
</nav>