==
<a class="btn btn-menu hidden-md-up" data-toggle="collapse" href="#nav-side">Product Menu</a>
<ul class="nav nav-side flex-column collapse" id="nav-side">
  <li class="nav-item">
    <a data-toggle="collapse" data-parent="#nav-side" class="nav-link has-children {{ this.page.url == '/products' ? 'active' : '' }}" href="#products-ul" {{ this.page.url starts with '/products' ? 'aria-expanded="true"' : '' }}>Products</a>
    <ul id="products-ul" class="collapse {{ this.page.url starts with '/electronics/standard-parts/products' ? 'show' : '' }}">
        <li>
            <a class="nav-link {{ this.page.url == '/electronics/standard-parts/products' ? 'active' : '' }}" href="/electronics/standard-parts/products">Product Catalog</a>
        </li>
        <li>
            <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/products/new' ? 'active' : '' }}" href="/electronics/standard-parts/products/new">New Products</a>
        </li>
        <li>
            <a class="nav-link" href="#">Innovations</a>
        </li>
        <li>
            <a class="nav-link" href="#">Applications Notes</a>
        </li>
        <li>
            <a class="nav-link" href="#">Component Libraries</a>
        </li>
        <li>
            <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/products/applications' ? 'active' : '' }}" href="/electronics/standard-parts/products/applications">Applications</a>
        </li>
        <li>
            <a class="nav-link" href="#">Design Kits</a>
        </li>
        <li>
            <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/products/design-guides' ? 'active' : '' }}" href="/electronics/standard-parts/products/design-guides">Design Guides</a>
        </li>
        <li>
            <a class="nav-link" href="#">Quality</a>
        </li>
        <li>
            <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/products/redexpert' ? 'active' : '' }}" href="/electronics/standard-parts/products/redexpert">REDEXPERT</a>
        </li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/toolbox' ? 'active' : '' }}" href="/electronics/standard-parts/toolbox">Toolbox</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/service' ? 'active' : '' }}" href="/electronics/standard-parts/service">Service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Download Center</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {{ this.page.url starts with '/electronics/standard-parts/about' ? 'active' : '' }}" href="/electronics/standard-parts/about">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact</a>
  </li>
</ul>