.footer {
	font-size: .9rem;
	.footer-blocks {
		padding-top: 5rem;
		padding-bottom: 2rem;
	}
	h4 {
		margin-bottom: 1.8rem;
		// color: #fff;
		// color: #777373;
		font-size: .9rem;
		text-transform: uppercase;
	}
	// background: $gray-dark;
	// color: #cbcbcb;
	a {
		// color: #b2b8b6;
	}
	ul {
		li {
			a {
				padding: .3rem 0;
				display: block;
			}
		}
	}
	.copyright {
		border-top: 1px solid $gray-lighter;
		padding: 1rem 0;
		margin-top: 30px;
	}
	.col-md-3 {
		margin-bottom: 3rem;
	}
}