nav.navbar-tools {
	background: $red !important;
	max-height: 38px;
	font-size: .75rem;
	a {
		color: #fff !important;
	}
	.dropdown-menu {
		right: 0;
	    left: auto;
	}
}

.navbar-main {
	.navbar-toggler {
		border: 0;
		padding: .2rem;
		margin-top: 6px;
		font-size: 2.5rem;
		outline: none;
	}
	.navbar-brand {
		img {
			max-height: 60px;
			@include media-breakpoint-down(md) {
				max-height: 50px;
			}
		}
	}
	a.nav-link {
		padding: .5em 1em !important;
		font-weight: 600;
		color: $gray;
		&.active {
			color: $gray-dark;
		}
	}
	.navbar-nav {
		@include media-breakpoint-down(md) {
			padding: 1.2rem;
		}
	}
}

.motto {
  margin-left: 30px;
  width: auto;
  display: flex;
	@include media-breakpoint-down(md) {
		display: none;
	}

  .tagline {
  	cursor: default;
  	display: block;
  	color: white;
  	background: #d2d8d6;
  	padding: 0px 13px;
  	text-transform: lowercase;
  	font-weight: bold;
  	width: auto;
  	float: left;
  	line-height: 30px;
  	height: 30px;
  	font-family: $headings-font-family;
  	white-space: nowrap;
  }
  .red-block {
  	margin-left: 3px;
  	display: block;
  	height: 30px;
  	width: 30px;
  	float: left;
  	background: #e11021;
  }
	img {
	    max-width: 240px;
	}
}