.breadcrumb {
	margin-bottom: 3rem;
	@include media-breakpoint-down(sm) {
		font-size: .9rem;
	}
}

.page-header {
	padding:3rem 0rem 3rem;
	overflow: hidden;
	img {
		max-width: 100%;
	}
}

.page-title {
	background-size: cover;
	padding: 0rem 0rem 3rem;
	h1 {
	}
	h2 {
		font-size: 1.6rem;
	}
	&.has-bg {
		padding: 5rem 3rem 3rem;
		h1 {
			color: inherit;
		}
		h2 {
			color: inherit;
		}
		color: white;
		margin-bottom: 3rem;
	}
}