.btn-menu {
	border-radius: 0;
	border: 2px solid $gray-lighter;
	width: 100%;
	margin-bottom: 30px;
	&:after {
		border: 0;
		content: "\e688";
		font-family: 'Pe-icon-7-stroke';
		font-size: 24px;
		float: right;
		width: 20px;
		display: inline-block;
		height: 20px;
		line-height: 20px;
	}
}

.nav-side {
	margin-bottom: 40px;
	@include media-breakpoint-up(lg) {
		text-align: right;
	}
	@include media-breakpoint-down(sm) {
		&.collapse {
			display: none;
		}
		&.collapse.show {
			display: flex;
		}
	}
	li {
		list-style: none;
		font-size: 1.2rem;
		li {
			font-size: 1rem;
			a {
				opacity: .4;
			}
		}
	}
	a.nav-link {
		padding: 1em 2em;
		transition: $transition-base;
		position: relative;
		&.has-children:after {
			transition: $transition-base;
			content: "\e684";
			font-family: 'Pe-icon-7-stroke';
			font-size: 28px;
			line-height: 1;
			display: block;
			float: right;
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		&.has-children[aria-expanded="true"] {
			&:after {
				transform: translateY(-50%) rotate(90deg);
			}
		}
	}
	a.nav-link {
		&:hover {
			background: $gray-lighter;
			opacity: 1;
		}
		&.active {
				opacity: 1;
				color: #fff;
				background: $black;
				box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		}
	} 
}