input, select, textarea, .select2-container .select2-selection--single {
	outline: none;
	&:focus, &:hover {
		outline: none;
	}
}

select {
	&.disabled {
		opacity: .3;
	}
}


// Select2
.select2-container--default .select2-selection--single .select2-selection__arrow {
    border-color: transparent;
    top: 0;
    padding-top: 10px;
    &:after {
    	content: "\e688";
			font-family: 'Pe-icon-7-stroke';
			font-size: 24px;
    }
    b {
    	display: none;
    }
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #aaa;
    border-radius: 0;
    margin-bottom: 1rem;
}

.select2-container .select2-selection--single {
	padding-top: 10px;
	padding-bottom: 10px;
	height: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: transparent;
    cursor: not-allowed;
    opacity: .4;
}

// Dropdown
.select2-dropdown {
    border: 1px solid $dropdown-border-color;
    border-radius: 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
}
.select2-container--open .select2-dropdown--below, .select2-container--open .select2-dropdown--above {
    border: 1px solid $dropdown-border-color;
}
.select2-results__option {
    padding: 12px;
    img {
    	max-height: 50px;
    	margin-right: 20px;
    }
}
.select2-results__option .option-text {
		display: inline-block;
    padding: 8px 0px;
}