@include media-breakpoint-down(md) {
	h1, .h1, .display-4 {
		font-size: 2rem;
	}
}

.wf-loading {
	h1, h2, h3, h4, h5, h6, p, span .nav-link, li, input, select {
		visibility: hidden !important;
	}
}
 
.wf-active {
	h1, h2, h3, h4, h5, h6, p, span, .nav-link, li, input, select {
		visibility: visible;
	}
}


.accent {
	color: $red;
}

.list-styled {
	list-style: none;
	li {
		margin-bottom: .5rem;
		position: relative;
		&:before {
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			background-color: $red;
			display: block;
			position: absolute;
			left: -20px;
			top: 9px;
		}
	}
}

.mt-7 {
	margin-top: 8rem;
}