$headings-font-family: 'europa', Helvetica, sans-serif;
$font-family-sans-serif: 'proxima-nova', Helvetica, sans-serif;
// $font-size-h1: 2rem;

// Grid columns
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px
);
$grid-gutter-width-base: 50px;

// Reassign color vars to semantic color scheme
$green: #3ed8a6;
$red: #c1001f;
$black: #030404;

// Create grayscale
$gray-dark:                 #030404;
$gray:                      #b2b8b6;
// $gray:                      #f6f7f7;
$gray-light:                #424343;
$gray-lighter:              #f1f2f2;
$gray-lightest:             #f1f2f2;

$brand-primary:             $gray;
$link-color: $gray-dark;
$link-hover-decoration: none;

// Create grayscale
$gray-lightest: rgba(200, 216, 226, 0.075);

$body-color: #767979;
$headings-color: $gray-dark;

// Buttons
$btn-secondary-color: #fff;
$btn-secondary-bg: $red;
$btn-border-radius: 2rem;
// $btn-padding-x:                  1rem;
$btn-padding-y: .7rem;

// Navs
$nav-pills-active-link-color: #fff;
$nav-pills-active-link-bg: $red;
// $nav-link-padding: .5em 1em;

//== Pills
$border-radius-base: 0;
$nav-pills-border-radius: 0;
// $nav-pills-active-link-hover-bg:            $component-active-bg !default;
// $nav-pills-active-link-hover-color:         $component-active-color !default;

// Forms
$input-border-radius: 1.2rem;

// Components
$border-radius:          .0rem;
$border-radius-lg:       .0rem;
$border-radius-sm:       .0rem;

$transition-base:        all .2s ease-in-out;