description = "Default layout"
==
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ this.page.title }} | Würth Elektronik Group</title>

    <!-- CSS includes -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    
    {% if this.environment == 'production' %}
      <link href="{{ [
      'assets/css/app.min.css'
          ]|theme }}" rel="stylesheet">
    {% else %}
      <link href="{{ [
      'assets/css/app.css'
          ]|theme }}" rel="stylesheet">
    {% endif %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="https://use.typekit.net/hkg1nyv.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  </head>
  <body>

    {% partial "header" %}
    <div class="main" id="main">

        {% page %}

    </div>
    <!-- /.container-fluid -->
    

    {% partial "footer" %}


    <!-- Javascript includes -->
    <!-- Done separately to make it easier to remove if wanted -->
    {% if this.environment == 'production' %}
      <script type="text/javascript" src="{{ 'assets/js/app.min.js'|theme }}"></script>
    {% else %}
      <script type="text/javascript" src="{{ 'assets/js/app.js'|theme }}"></script>
    {% endif %}

    {% if this.environment == 'dev' %}
      <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}


  </body>
</html>