.accordion {
	.card-header {
		padding: 0;
		transition: $transition-base;
		&.active {
			background: $red;
			a {
				color: #fff;
			}
		}
		.icon {
			margin-right: 10px;
		}
		a {
			// color: $red;
			display: block;
			padding: 1.2rem 1.25rem;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 1rem;
			letter-spacing: .1rem;
		}
	}
	.card {
		cursor: default;
	}
}