.applications {

}

.application {
	width: 100%;
  min-height: 260px;
  display: flex;
  justify-content: center;
  &:hover {
  	.meta {
  		margin-top: 0;
  	}
  }
	.featured {
		img {
			padding: 2rem;
			max-width: 100%;
		}
	}

}