.btn {
	text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .05rem;
  font-family: $headings-font-family;
  font-weight: 600;
  .icon {
    font-size: 1.8rem;
    vertical-align: middle;
    line-height: 1rem;
    margin-top: -4px;
  }
  &.btn-transparent {
  	background-color: transparent;
  	border-color: transparent !important;
  	color: $red;
  	padding-left: 0;
  	padding-right: 0;
  	outline: none !important;
  	box-shadow: none !important;
  	&:hover, &:focus {
  		border-color: transparent !important;
  	}
  }
}