.card	{
	cursor: pointer;
	position: relative;
	border: 1px solid rgba(3, 4, 4, 0.125);
	margin-right: -1px;
	margin-left: -1px;
	.featured {
		img {
			max-width: 100%;
		}
	}
	.tags {
		color: $red;
		font-size: .85rem;
		letter-spacing: .1rem;
		text-transform: uppercase;
		margin-bottom: .5rem;
	}
	.title {
		font-weight: 300;
	}
	.excerpt {
		opacity: 0;
		height: 0;
		transition: $transition-base;
		overflow: hidden;
	}
	.meta {
		transition: $transition-base;
		// background: #fff;
		padding: 2.5rem;
		position: relative;
	}
	&:hover {
		border-color: #d0d0d0;
		.meta {
			margin-top: -72px;
		}
		.excerpt {
			opacity: 1;
			height: 72px;
		}
	}
}

.overlay-link {
	@include fill();
	z-index: 10;
}
