.design-guides {
	display: flex;
	flex-wrap: wrap;
}

.design-guide {
	float: left;
	display: flex;
	@include media-breakpoint-up(md) {
		width: 50%;
	}
	.featured {
	}
	img {
		width: 100%;
		height: auto;
	}
	.links {
		height: 0;
		opacity: 0;
		transition: $transition-base;
		a {
			margin-right: 40px;
			&:after {
				content: "\e65c";
				font-family: 'Pe-icon-7-stroke';
				font-size: 18px;
				margin-left: 10px;
				line-height: 1;
				position: relative;
				top: 2px;
			}
			&:nth-child(2):after {
				content: "\e639";
			}
		}
	}
	.excerpt {
		height: auto;
		opacity: 1;
	}
	&:hover {
		.meta {
			margin-top: -50px;
		}
		.excerpt {
			transform: none;
			height: auto;
		}
		.links {
			opacity: 1;
			height: 50px;
		}
	}
	
}