.dropdown-language {

}

.dropdown {
	img {
		max-height: 18px;
		width: auto;
		margin-right: 10px;
	}
	.dropdown-toggle::after {
	    border: 0;
	    content: "\e688";
	    font-family: 'Pe-icon-7-stroke';
	    font-size: 24px;
	    float: right;
	    width: 20px;
	    display: inline-block;
	    height: 20px;
	    line-height: 25px;
	}
}