.lion-piece {
	position: absolute;
	&:nth-child(2) {
		left: 20%;
		top: 20%;
	}
	&:nth-child(3) {
		left: 10%;
		top: 30%;
	}
	&:nth-child(4) {
		left: 60%;
		top: 40%;
	}
	&:nth-child(5) {
		left: 80%;
		top: 70%;
	}
	&:nth-child(6) {
		left: 30%;
		top: 70%;
	}
}