@keyframes rotating {
  from {
    transform: translate3d(-50%,-50%,0) rotate(0deg);
  }
  to {
    transform: translate3d(-50%,-50%,0) rotate(360deg);
  }
}

.product-categories {
	display: flex;
	flex-wrap: wrap;
	.product-category {
		@include media-breakpoint-up(md) {
			width: 33%;
		}
		float: left;
		transition: $transition-base;
		.featured {
			overflow: hidden;
			img {
				transition: $transition-base;
				box-shadow: none;
			}
		}
		&:hover {
			background: $gray-lighter;
			.featured {
				img {
					transform: scale(1.1);
				}
			}
			.meta {
				background: $gray-lighter;
				margin-top: 0;
			}
		}
	}
}

.products {
	min-height: 300px;
	display: flex;
	flex-wrap: wrap;
	&.loading {
		&:before {
			@include fill();
			background: rgba(255,255,255,.7);
			z-index: 1;
		}
		&:after {
			content: "\e61c";
			font-family: 'Pe-icon-7-stroke';
			font-size: 50px;
			animation: rotating 1.2s linear infinite;
			color: $red;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			width: 75px;
			height: 75px;
			text-align: center;
			line-height: 67px;
		}
	}
}


.product {
	display: flex !important;
	@include media-breakpoint-between(md, md) {
		width: 50%;
	}
	@include media-breakpoint-up(lg) {
		width: 33%;
	}
	float: left;
	.featured {
		padding: 2.5rem;
		padding-bottom: 0;
	}
	.excerpt {
		margin-bottom: 0;
		display: flex;
		margin-top: auto;
	}
	.meta {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.product-filters {
	padding: 2.5rem;
	z-index: 10;
	position: relative;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
	h3 {
		width: 100%;
		.icon {
			float: right;
		}
	}
	select {
		width: 100%;
	}
}