.nav-tabs {
	background: #f6f7f7;
	border-bottom: 0;
	@include media-breakpoint-down(sm) {
		.nav {
			display: table;
			width: 100%;
		}
	}
	.nav-item {
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			width: 50%;
			float: left;
		}
	}
	a.nav-link {
		color: $gray-dark;
		border-top: 0;
		border-bottom: 0;
		border-color: #e8e8e8;
		padding: 2.5em 1em;
		transition: all .15s ease-in-out;
		opacity: .4;
		&.active, &:hover {
			opacity: 1;
		}
	}
}

.tab-content {
	padding: 8rem 0;
	img {
		max-width: 100%;
		box-shadow: 0 6px 10px rgba(0,0,0,0.04), 0 3px 3px rgba(0,0,0,0.08);

	}
	.connector {
		position: absolute;
		top: 10%;
		left: -55%;
		box-shadow: none;
		z-index: 20;
	}
}

.box {
	padding: 4.5rem;
  z-index: 10;
  position: relative;
  background: #f7f9f9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.05);
  margin-top: -3rem;
	@include media-breakpoint-up(md) {
	  margin-left: -30%;
	  &.box-left {
	    margin-left: 0%;
	    margin-right: -30%;
	  	z-index: 1;
	  }
	}
}