title = "About"
url = "/electronics/standard-parts/about"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronics & Electromechanical Components</a></li>
  <li class="breadcrumb-item active"><a href="#">About</a></li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
            <div class="page-title has-bg" style="background-image: url(/storage/app/media/about.jpg); background-size: cover;">
                <h1>Würth Elektronik</h1>
                <h2>passive components manufacturer service leader</h2>
            </div>
            <div class="row section-padded">
              <div class="col-md-6">Würth Elektronik eiSos GmbH & Co. KG is a manufacturer of electronic and electromechanical components for the electronics industry. Würth Elektronik eiSos is part of the Würth Group, the global market leader for fastener technology. The company employs currently 6,500 people and generated sales of 555 million Euro in 2016.</div>
              <div class="col-md-6">The Würth Elektronik eiSos product range covers EMC Components, Capacitors, Inductors, RF Inductors and LTCC Components, Transformers, Components for Circuit Protection, Power Modules, LEDs, Connectors, Switches, Power Elements in Press-fit Technology and Assembly Technique.</div>
            </div>
            <h3>As one of Europe's largest manufacturer of passive components, Würth Elektronik eiSos sets itself apart from other component manufacturers in the following ways:</h3>
            <ul class="list-styled">
            	<li>All catalogue products are available from stock</li>
            	<li>Free sample service</li>
            	<li>Delivery of samples within 24-48 hrs</li>
            	<li>No MOQ</li>
            	<li>Design support from technical sales force and Field Application Engineers</li>
            	<li>Reference designs with all leading IC manufacturers</li>
            	<li>Design kits with free refills</li>
            	<li>Free EMC and Power seminars</li>
            	<li>Software tools for selection of components</li>
            </ul>
            <div class="row section-padded">
              <div class="col-md-6">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="500" height="281" src="https://www.youtube.com/embed/YHDu6Re-Zdw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
              <div class="col-md-6">In addition to components, Würth Elektronik eiSos also supplies engineers with expertise. The "Trilogy of Magnetics", "Abc of Capacitors", "Trilogy of Connectors" and "Simulation in LTspice IV" application manuals provide professionals and other interested parties with a compendium of practice-oriented expertise, which is unique of its kind.</div>
            </div>
            <div class="row section-padded">
              <div class="col-md-6">Würth Elektronik eiSos is active with direct sales in 40 countries worldwide. 16 manufacturing facilities located in all important markets worldwide guarantee the rapid delivery of components.</div>
              <div class="col-md-6">
                  <div class="embed-responsive embed-responsive-16by9">
                      <iframe width="500" height="281" src="https://www.youtube.com/embed/pQnqxyeV8ZA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>