title = "Applications"
url = "/electronics/standard-parts/products/applications"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">Applications</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
            <div id="applications" class="applications">
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/XMC%20Digital%20Power%20Explorer%20Kit.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">Digital Power is Calling</h4>
                        <p class="excerpt">The Digital Power Explorer Kit has been developed for analog power supply designers and embedded software programmers who need to accelerate their learning curve in digital power control.</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div>  
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/Energy-Harvesting-fornow.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">Energy Harvesting Demokit Gleanergy</h4>
                        <p class="excerpt">This development platform demonstrates the ability to utilize energy harvesting sources to power a wireless sensor node.</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/Energy%20Harvesting%20Demokit%20Gleanergy%20To%20Go.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">Energy Harvesting Demokit Solution To Go</h4>
                        <p class="excerpt">Complete solution from harvesting of the energy, energy management and storage, easy transfer of this solution to your design and evaluation of the highest efficient components in the market.</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/complete-usb-20-emi-esd-solution.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">The Complete USB 2.0 EMI & ESD Solution</h4>
                        <p class="excerpt">You have trouble with noise on your USB 2.0 interface and don’t know how to solve it? We have the solution for you.</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/wireless-power-transfer-solution.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">Wireless Power Transfer Solution To Go</h4>
                        <p class="excerpt">Complete evaluation boards for fast integration of Wireless Power in your product design without any problems which meet the Qi Standard of the Wireless Power Consortium (WPC).</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="application card">
                  <div class="row">
                    <div class="featured col-md-3">
                        <img src="/storage/app/media/applications/Design%20Your%20EMC-Filter%20series.jpg">
                    </div>
                    <div class="col-md-8 offset-md-1 align-self-center">
                      <div class="meta">
                        <h4 class="title">Design Your EMC-Filter</h4>
                        <p class="excerpt">The Design Your EMC-Filter series provides a fast and cost efficient opportunity to set up different filter designs.</p>
                        <a href="#" class="btn btn-transparent">Learn More</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>