title = "Design Guides"
url = "/electronics/standard-parts/products/design-guides"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">Design Guides</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
            <div id="design-guides" class="design-guides">
              <div class="design-guide card">
                <div class="featured">
                    <img src="/storage/app/media/design-guide/Trilogy-of-Magnetics.jpg">
                </div>
                <div class="meta">
                  <h4 class="title">Trilogy of Magnetics</h4>
                  <p class="excerpt">Design Guide for EMI Filter Design, SMPS & RF Circuits.</p>
                  <div class="links">
										<a href="#" class="btn btn-transparent">Free Extracts</a>
										<a href="#" class="btn btn-transparent">Order Guide</a>
                  </div>
                </div>
              </div>  
              <div class="design-guide card">
                <div class="featured">
                    <img src="/storage/app/media/design-guide/Trilogy_of_connectors.jpg">
                </div>
                <div class="meta">
                  <h4 class="title">Trilogy of Connectors</h4>
                  <p class="excerpt">Basic Principles and Connector Design Explanations.</p>
                  <div class="links">
										<a href="#" class="btn btn-transparent">Free Extracts</a>
										<a href="#" class="btn btn-transparent">Order Guide</a>
                  </div>
                </div>
              </div>  
              <div class="design-guide card">
                <div class="featured">
                    <img src="/storage/app/media/design-guide/Abc%20of%20Capacitors.jpg">
                </div>
                <div class="meta">
                  <h4 class="title">Abc of Capacitors</h4>
                  <p class="excerpt">Basic principles, characteristics and capacitor types.</p>
                  <div class="links">
										<a href="#" class="btn btn-transparent">Free Extracts</a>
										<a href="#" class="btn btn-transparent">Order Guide</a>
                  </div>
                </div>
              </div>  
              <div class="design-guide card">
                <div class="featured">
                    <img src="/storage/app/media/design-guide/Abc%20of%20Power%20Modules.jpg">
                </div>
                <div class="meta">
                  <h4 class="title">Abc of Power Modules</h4>
                  <p class="excerpt">Functionality, Structure and Handling of a Power Module.</p>
                  <div class="links">
										<a href="#" class="btn btn-transparent">Free Extracts</a>
										<a href="#" class="btn btn-transparent">Order Guide</a>
                  </div>
                </div>
              </div>  
              <div class="design-guide card">
                <div class="featured">
                    <img src="/storage/app/media/design-guide/The%20LTspice%20IV%20Simulator%20.jpg">
                </div>
                <div class="meta">
                  <h4 class="title">The LTspice IV Simulator</h4>
                  <p class="excerpt">Application Handbook for LTspice IV simulation.</p>
                  <div class="links">
										<a href="#" class="btn btn-transparent">Free Extracts</a>
										<a href="#" class="btn btn-transparent">Order Guide</a>
                  </div>
                </div>
              </div>  
            </div>
        </div>
    </div>
</div>