title = "Home"
url = "/"
layout = "default"
description = "Homepage template"
is_hidden = 0

[portfolio]
category = 1
itemsPerPage = 6
order = "asc"
pageNumber = "{{ :page }}"
selectedTag = "{{ :selected_tag }}"
selectedCat = "{{ :selected_cat }}"
catListPage = "portfolio/category"
itemPage = "portfolio/item"
tagListPage = "portfolio/tag"
==
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="lion-container">
          <img src="{{ 'assets/images/lion.jpg'|theme }}" class="parallax-layer">
          <img src="{{ 'assets/images/pieces1.png'|theme }}" class="parallax-layer lion-piece" data-parallax-momentum="0.3">
          <img src="{{ 'assets/images/pieces2.png'|theme }}" class="parallax-layer lion-piece" data-parallax-momentum="0.6">
          <img src="{{ 'assets/images/pieces3.png'|theme }}" class="parallax-layer lion-piece" data-parallax-momentum="0.2">
          <img src="{{ 'assets/images/pieces4.png'|theme }}" class="parallax-layer lion-piece" data-parallax-momentum="0.25">
          <img src="{{ 'assets/images/pieces5.png'|theme }}" class="parallax-layer lion-piece" data-parallax-momentum="0.4">
        </div>
      </div>
      <div class="col-md-6" style="background: #fff;">
        <h1 class="display-4" style="margin-top: 18%;">Würth Elektronik leading manufacturing of passive components worldwide.</h1>
        <p><a class="btn btn-transparent btn-lg mt-4" href="#" role="button">Learn more <span class="icon pe-7s-angle-right"></span></a></p>
      </div>
    </div>
  </div>
</div>

<!-- Nav tabs -->
<div class="nav-tabs">
  <div class="container">
    <ul class="nav nav-pills nav-fill" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#products" role="tab">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#company" role="tab">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#services" role="tab">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#partners" role="tab">Partners</a>
      </li>
    </ul>
  </div>
</div>

<!-- Tab panes -->
<div class="container">
  <div class="tab-content">
    <div class="tab-pane" id="company" role="tabpanel">
      <div class="row">
        <div class="col-md-7">
          <img src="{{ 'assets/images/team.jpg'|theme }}">
        </div>
        <div class="col-md-5">
          <img src="{{ 'assets/images/connector-white.png'|theme }}" class="connector">
          <div class="box">
            <h3>About us</h3>
            <p>Würth Elektronik ICS Intelligent Power & Control Systems is a Würth Elektronik Group company, one of the most innovative and fastest-growing companies within the Würth Group.</p>
            <p>The Würth Elektronik group of companies, with headquarters in Niedernhall (Hohenlohe), Germany, has more than 7,200 employees worldwide and generated global sales of € 590 million in 2015.</p>
            <p>With 16 production locations worldwide, Würth Elektronik is one of the most successful companies of the Würth Group.</p>
                <a href="#"  class="btn btn-transparent" >Learn more <span class="icon icon pe-7s-angle-right"></span></a><br/>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane active" id="products" role="tabpanel">
      <div class="product-categories">
         <div class="product-category card">
             <div class="featured">
               <img src="/storage/app/media/main-product-category/main-category1.jpg" />
             </div>
             <div class="meta">
               <div class="tags">Product Catalog</div>
               <h4 class="title">Electronic &amp; Electro-mechanical Components</h4>
             </div>
              <a href="/electronics/standard-parts/products" class="overlay-link"></a>
         </div>
         <div class="product-category card">
             <div class="featured">
               <img src="/storage/app/media/main-product-category/main-category2.jpg" />
             </div>
             <div class="meta">
               <div class="tags">Product Catalog</div>
               <h4 class="title">Printed Circuit Boards</h4>
             </div>
         </div>
         <div class="product-category card">
             <div class="featured">
               <img src="/storage/app/media/main-product-category/main-category3.jpg" />
             </div>
             <div class="meta">
               <div class="tags">Product Catalog</div>
               <h4 class="title">Intelligent Power and Control Systems</h4>
             </div>
         </div>
       </div>
    </div>
    <div class="tab-pane" id="services" role="tabpanel">
      <div class="row">
        <div class="col-md-7">
          <div class="box box-left">
            <h3>Added value for you</h3>
              <div class="row">
                <div class="col-md-7">
                    <h5>Technical Support</h5>
                    <p>Design Guide “Trilogy of Magnetics”, Trilogy of Connectors & The LTspice IV Simulator<br/>
                    Worldwide technical sales force and field application engineers on site.</p>
                    <h5>Design-In Support</h5>
                    #askLorandt for electronic design support<br/>
                    Reference designs of IC manufacturers<br/>
                    EMC test lab racks<br/>
                    Toolbox for engineers & purchasers<br/>
                    WE Plus Service - Personalize your Connectors.
                </div>
                <div class="col-md-5">
                    <h5>Delivery</h5>
                    All products available ex stock<br/>
                    Within 24-48 hours<br/>
                    Samples free of charge<br/>
                    No MOQ<br/>
                    Service degree: 98.5 %
                    <h5>Service</h5>
                    Free technical seminars<br/>
                    Design Kits with lifelong free refill<br/>
                    EMC Test lab search engine<br/>            
                </div>
             </div>
          </div>
        </div>
        <div class="col-md-5">
          <img src="/storage/app/media/design-guide/Trilogy-of-Magnetics.jpg">
          <img src="{{ 'assets/images/connector-white.png'|theme }}" class="connector">
        </div>
      </div>
    </div>
    <div class="tab-pane" id="partners" role="tabpanel">
      <div class="row">
        <div class="col-md-6">
          <img src="/storage/app/media/homepage/handshake.jpg">
        </div>
        <div class="col-md-6">
          <div class="box">
            <h3>Why team up with WE?</h3>
              <div class="row">
                <div class="col-md-12">
                    <p>You are an IC House and your Application Engineers don’t really know what the saturation current of an inductor is? You are an university and your students think EMI is black magic? You’re a start-up and you need to focus your resources on your innovative design? In all theses cases you get your passive components online, hoping they will fit your needs.</p>
                    <p>At Würth Elektronik eiSos we have a global team dedicated only to our partners, providing technical support and free samples, within 48 hours. This is our “More than you expect!”, because we know partnerships are a win-win strategy.</p>
                    
                <a href="#"  class="btn btn-transparent" >IC Houses <span class="icon pe-7s-angle-right"></span></a><br/>
                <a href="#"  class="btn btn-transparent" >Universities <span class="icon pe-7s-angle-right"></span></a><br/>
                <a href="#"  class="btn btn-transparent" >Start-ups <span class="icon pe-7s-angle-right"></span></a>
                </div>
             </div>
          </div>
          <img src="{{ 'assets/images/connector-white.png'|theme }}" class="connector">
        </div>
      </div>
    </div>
  </div>

</div>