title = "New Products"
url = "/electronics/standard-parts/products/new"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">New Products</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
             <div id="products" class="products">
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-STAR-TEC.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">STAR-TEC Snap Ferrite with safety key technology</h4>
                    <p class="excerpt">Four new snap ferrites expand the STAR-TEC series. The new cable ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-LPCC_7448680xxx_4C.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-LPCC Common Mode Power Line Choke</h4>
                    <p class="excerpt">The compact THT common mode choke WE-LPCC is suitable for 250 VAC ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-SHC_NEU_2017.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-SHC Shielding Cabinet</h4>
                    <p class="excerpt">Product extension of shielding cabinet WE-SHC inter alia with ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-PD2.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-PD2 SMD Power Inductor</h4>
                    <p class="excerpt">Product extension in the SMD Power Inductor serie WE-PD2. The smallest ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_we-hcf_smd_hochstrominduktivitaet_11.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-HCF SMD High Current Inductor</h4>
                    <p class="excerpt">Product extension of the SMD High Current Inductor WE-HCF with size 2815 ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-DPC_5838_4C.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-DPC SMD Dual Powerchoke</h4>
                    <p class="excerpt">The new WE-DPC is a magnetically shielded SMD coupled inductor with two ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-DPC_HV_5030.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-DPC HV SMD Dual Powerchoke</h4>
                    <p class="excerpt">The new WE-DPC HV is the smallest magnetically shielded SMD coupled ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-WPCC%20Transmitter.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-WPCC Wireless Power Charging Transmitter Coil</h4>
                    <p class="excerpt">The new transmitter coil with ferrite shielding 760308102144 works with ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-FLEX_HV_749196xxx_4C_NEU.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-FLEX HV Flexible Transformer for DC/DC Converter</h4>
                    <p class="excerpt">WE-FLEX HV is the first flex transformer with insulation voltage of 1.5 kVAC ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/WE-LANAQ_web.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-LAN AQ 10/100 Base-T SMD Transformer 1 Port</h4>
                    <p class="excerpt">The new article of WE-LAN AQ describes a shielded LAN transformer with ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-AC_HC_4C.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-ACHC High current air coil</h4>
                    <p class="excerpt">The new high current air coil with flat wire for high-frequency applications ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WR-LECO_6951xx401122.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">Serie 401 - 4.00mm Accessories for WTB LECO Connector</h4>
                    <p class="excerpt">With the new WR-LECO 400 series, board-to-board connection is possible.</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>