title = "Products AJAX"
url = "/products-ajax"
is_hidden = 0
==
<div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/WE-RJ45%20LAN%20Transformer.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WE-RJ45 LAN Transformer</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-DPC_HV_5030.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-DPC HV SMD Dual Powerchoke</h4>
                    <p class="excerpt">The new WE-DPC HV is the smallest magnetically shielded SMD coupled ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-AC_HC_4C.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-ACHC High current air coil</h4>
                    <p class="excerpt">The new high current air coil with flat wire for high-frequency applications ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/Family_WL-SMCW.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WL-SMCW SMD Mono-color Chip LED Waterclear</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_we-hcf_smd_hochstrominduktivitaet_11.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-HCF SMD High Current Inductor</h4>
                    <p class="excerpt">Product extension of the SMD High Current Inductor WE-HCF with size 2815...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/Family_WE_WCAP-FTBE_4mm.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WCAP-FTBE Film Capacitors</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div>       
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-SHC_NEU_2017.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-SHC Shielding Cabinet</h4>
                    <p class="excerpt">Product extension of shielding cabinet WE-SHC inter alia with new ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/WL-TIRW%20THT%20Infrared%20Round%20Waterclear.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WL-TIRW THT Infrared Round Waterclear</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-LPCC_7448680xxx_4C.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">New</div>
                    <h4 class="title">WE-LPCC Common Mode Power Line Choke</h4>
                    <p class="excerpt">The compact THT common mode choke WE-LPCC is suitable for 250 VAC ...</p>
                  </div>
                </div>