title = "Product Catalog"
url = "/electronics/standard-parts/products"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">Product Catalog</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
            <div class="product-filters mb-4">
                <h3 class="accent mb-3">What are you looking for?<span class="icon pe-7s-filter"></span></h3>
                <div class="row ">
                    <div class="col-md-6">
                        <select name="catalog" id="catalog" class="has-dependendee">
                            <option value="" disabled selected>Select Catalog</option>  
                            <option data-image="/themes/we/assets/images/product-options/passive-components.jpg">Passive Components</option>
                            <option data-image="/storage/app/media/product-options/optoelectronics.jpg">Optoelectronics</option>
                            <option data-image="/storage/app/media/product-options/Power%20Modules.jpg">Power Modules (MagI³C Series)</option>
                            <option data-image="/storage/app/media/product-options/Electromechanical.jpg">Electromechanical Components</option>
                            <option data-image="/storage/app/media/product-options/Search%20via.jpg">Custom Search</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="group" id="group" class="has-dependendee" data-dependency="catalog" disabled>
                            <option value="" selected default>Select Catalog Group</option>  
                            <option data-image="/storage/app/media/product-options/EMC_COMPONENTS.jpg">EMC Components</option>
                            <option data-image="/storage/app/media/product-options/Power%20Magnetics.jpg">Power Magnetics</option>
                            <option data-image="/storage/app/media/product-options/SIGNAL_AND_COMMUNICATIONS.jpg">Signal & Communications</option>
                            <option data-image="/storage/app/media/product-options/q.jpg">AEC-Q qualified Products</option>
                            <option data-image="/storage/app/media/product-options/Capacitors.jpg">Capacitors</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="category" id="category" class="has-dependendee" data-dependency="group" disabled>
                            <option value="" selected default>Select Catalog Category</option>  
                            <option data-image="/storage/app/media/product-options/WE-TMSB.jpg">Ferrites For PCB Assembly</option>
                            <option data-image="/storage/app/media/product-options/Single_WE-STAR-TEC.jpg">Ferrites For Cable Assembly</option>
                            <option data-image="/storage/app/media/product-options/WE-SL3.jpg">Common Mode Chokes for Data & Signal Lines</option>
                            <option data-image="/storage/app/media/product-options/Single_WE-CMB_XS.jpg">Common Mode Chokes for Power Lines</option>
                            <option data-image="/storage/app/media/product-options/WE-TVS_STANDARD.jpg">ESD Protection</option>
                            <option data-image="/storage/app/media/product-options/WE-VD.jpg">Surge Protection</option>
                            <option data-image="/storage/app/media/product-options/D-SUB-Filter_mit_geradem_Loetstift.jpg">D-SUB Filter Connectors</option>
                            <option data-image="/storage/app/media/product-options/WE-Filter-Choke.jpg">Filter Chokes</option>
                            <option data-image="/storage/app/media/product-options/WCAP-FTXX.jpg">Interference Suppression Capacitor</option>
                            <option data-image="/storage/app/media/product-options/WE-SHC.jpg">EMI Shielding Material</option>
                            <option data-image="/storage/app/media/product-options/Design_Kit.jpg">Design Kits EMC Components</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <select name="parameters" id="parameters" data-dependency="category" disabled>
                            <option value="" selected default>Select Catalog Parameters</option>  
                            <option>Option 1</option>
                            <option>Option 2</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <!-- <a href="#" class="btn btn-primary">Search Products</a> -->
                    </div>
                </div>
            </div>
            <div id="products" class="products">
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/Family_WL-SMCW.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WL-SMCW SMD Mono-color Chip LED Waterclear</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/magic-fism-fixed-isolated-module.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">MagI³C-FISM Fixed Isolated Module</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div>
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/Family_WE_WCAP-FTBE_4mm.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WCAP-FTBE Film Capacitors</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div>       
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/WP-SMBU_746600330.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">REDCUBE SMD with internal through-hole thread WP-SMBU</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/popular-search/WL-TIRW%20THT%20Infrared%20Round%20Waterclear.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Popular Search</div>
                    <h4 class="title">WL-TIRW THT Infrared Round Waterclear</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div> 
                <div class="product card">
                  <div class="featured">
                      <img src="/storage/app/media/new-products/Family_WE-WPCC%20Transmitter.jpg">
                  </div>
                  <div class="meta">
                    <div class="tags">Extended</div>
                    <h4 class="title">WE-WPCC Wireless Power Charging Transmitter Coil</h4>
                    <p class="excerpt">A short description about this product. A short description about this ...</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>