title = "Redexpert"
url = "/electronics/standard-parts/products/redexpert"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">REDEXPERT</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-lg-9">
            <div class="page-title">
                <h1>The world’s most accurate AC loss model</h1>
                <div class="subtitle">Würth Elektronik's online platform for simple component selection and performance simulation.<br/> 
                Try REDEXPERT and calculate your losses in real-time.</div class="subtitle">
                <a href="#"  class="btn btn-transparent" >Try Now</a>
            </div>
            <div class="embed-responsive embed-responsive-16by9"><iframe width="853" height="480" src="https://www.youtube.com/embed/d3kyH8UsfNo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></div>
            <div class="row section-padded">
              <div class="col-md-6" style="text-align:right;">
                  <h3>The most important features 
                  at a glance</h3>
              </div>
              <div class="col-md-6">
                  <ul class="list-styled">
                      <li>The world’s most accurate AC loss model</li>
                      <li>Inductor simulation and selection for DC/DC converters</li>
                      <li>Ability to compare inductance/current and temperature rise/DC current using interactive measurement curves</li>
                      <li>Filter settings for over 20 electrical and mechanical parameters curves</li>
                      <li>Online platform based on measured values</li>
                      <li>Available in seven languages</li>
                      <li>No login required</li>
                      <li>Order free samples directly</li>
                      <li>Direct access to product datasheets</li>
                  </ul>
              </div>
            </div>
            <div class="row section-padded">
            	<div class="col-md-3"> 
            	    <img src="/storage/app/media/redexpert/REDEXPERT_Swichting_Frequency_2.png" data-toggle="tooltip" data-placement="bottom" title="Measured in real DC/DC application">
            	</div>
            	<div class="col-md-3">
            	    <img src="/storage/app/media/redexpert/REDEXPERT_DCDC_1.png" data-toggle="tooltip" data-placement="bottom" title="Switching Frequency: 10 kHz ... 10 MHz Duty Cycle: 0.1... 0.9">
            	</div>
            	<div class="col-md-6">
            	    <h3>World‘s most accurate AC loss model</h3>
            	    <p>Inductor losses are one of the critical factors in the design of an efficient power supply. In REDEXPERT you can determine accurately your total AC losses at any operating condition, with our world’s most accurate AC loss model for Power Inductors, which incorporate the AC core and AC wire losses.</p>
            	</div>
            </div>
						<div class="row section-padded">
							<div class="col-md-12" style="text-align:center;">
							    <h3>Advantages of Würth Elektronik AC loss model</h3>
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/Model%20based%20on%20actual%20components.jpg">
							    <h4>Model based on actual components</h4>
							    <ul class="list-styled">
							        <li>All types of core materials</li>
							        <li>All core shapes (not only ring cores)</li>
							        <li>Air gap and fringing effects</li>
							        <li>Effects and changes in winding structure</li>
							    </ul>
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/point%20of%20operation.jpg">
							    <h4>Point of operation</h4>
							    <p>The Model was measured with a pulsating square wave voltage, which is applied across the inductor and results in a triangular current with DC offset.</p>
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/accuracy.jpg">
							    <h4>Accuracy</h4>
							    <p>Compared to Steinmetz (blue), the Würth Elektronik (red) model has a higher accuracy over a wider range of duty cycles.</p>
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-4">
							    <h3>Changeable ambient temperature & measurement conditions</h3>
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/ambient%20temperature1.jpg" data-toggle="tooltip" data-placement="bottom" title="Display inductance value dependent on ambient temperature">
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/ambient%20temperature2.jpg" data-toggle="tooltip" data-placement="bottom" title="Temperature Rise vs. DC current chart considering ambient temperature">
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-4">
							    <h3>Impedance determination considering DC-Bias</h3>
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/impedance1.jpg" data-toggle="tooltip" data-placement="bottom" title="System">
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/impedance2.jpg" data-toggle="tooltip" data-placement="bottom" title="Impedance / Frequency">
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-6">
							    <img src="/storage/app/media/redexpert/impedance3.png">
							</div>
							<div class="col-md-6">
							    <p>Enter your desired attenuation and frequency and REDEXPERT will propose suitable ferrites and common mode chokes based on system model calculations.</p>
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-12">
							    <h3>Advantages for registered users</h3>
							    <img src="/storage/app/media/redexpert/Advantages%20for%20registered%20users.png">
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/REDEXPERT_Calculate_Losses.jpg">
							</div>
							<div class="col-md-8">
							    <ul class="list-styled">
							        <li>Compare up to 16 products</li>
							        <li>Add up to 5 chart markers</li>
							        <li>Compare losses in the article table and filter for lowest loss or temperature rise</li>
							        <li>Use manual loss calculation independent of converter topology</li>
							        <li>Full access to all charts</li>
							    </ul>
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-12">
							    <h3>Available applications</h3>
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-4">
							    <ul class="list-styled">
							        <li>DC/DC converters</li>
							        <li>WPT resonance tank</li>
							    </ul>
							</div> 
							<div class="col-md-4">
							    <ul class="list-styled">
							        <li>Pulse designer</li>
							        <li>Attenuation designer</li>
							    </ul>
							</div>
							<div class="col-md-4">
							    <img src="/storage/app/media/redexpert/redexpert_promo.jpg">
							</div>
						</div>
						<div class="row section-padded">
							<div class="col-md-12">
							    <a href="#" style="text-align:center;" class="btn btn-transparent" >Try Now</a>
							</div>
						</div>

        </div>
    </div>
</div>