title = "Service"
url = "/electronics/standard-parts/service"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">Service</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-md-8 offset-md-1">
          	<div class="page-title">
          		<h1>Added Value for You</h1>
          	</div>
          	<div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
          	  <div class="card">
          	    <div class="card-header active" role="tab" id="headingOne">
          	      <h5 class="mb-0">
          	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          	          <span class="icon pe-7s-help2"></span>Technical Support
          	        </a>
          	      </h5>
          	    </div>

          	    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          	      <div class="card-block">
                     <ul class="list-styled">
                        <li><a href="#">Design Guide “Trilogy of Magnetics”</a>, <a href="#">Trilogy of Connectors</a> & <a href="#">The LTspice IV Simulator</a></li>
                        <li><a href="#">Worldwide technical sales force and field application engineers on site</a></li>
                     </ul>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingTwo">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          	          <span class="icon pe-7s-pen"></span>Design-In Support
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          	      <div class="card-block">
                    <ul class="list-styled">
                    	<li><a href="#">#askLorandt for electronic design support</a></li>
                    	<li><a href="#">Reference designs of IC manufacturers</a></li>
                    	<li>EMC test lab racks</li>
                    	<li><a href="#">Toolbox for engineers & purchasers</a></li>
                    	<li><a href="#">WE Plus Service - Personalize your Connectors</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingThree">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          	          <span class="icon pe-7s-box1"></span>Delivery
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          	      <div class="card-block">
                    <ul class="list-styled">
                     	<li><a href="#">All products available ex stock</a></li>
                    	<li>Within 24-48 hours</li>
                    	<li><a href="#">Samples free of charge</a></li>
                    	<li><a href="#">No MOQ</a></li>
                    	<li><a href="#">Service degree: 98.5 %</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingFour">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          	          <span class="icon pe-7s-config"></span>Service
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          	      <div class="card-block">
                    <ul class="list-styled">
                    	<li><a href="#">Free technical seminars</a></li>
                    	<li><a href="#">Design Kits with lifelong free refill</a></li>
                    	<li><a href="#">EMC Test lab search engine</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	</div>
        </div>
    </div>
</div>