title = "Toolbox"
url = "/electronics/standard-parts/toolbox"
layout = "default"
is_hidden = 0
==
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Electronic & Electromechanical Components</a></li>
  <li class="breadcrumb-item"><a href="#">Standard Parts</a></li>
  <li class="breadcrumb-item active">Toolbox</li>
</ol>

<!-- Nav tabs -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            {% partial "sidebar-products" %}
        </div>
        <div class="col-md-8 offset-md-1">
          	<div class="page-title">
          		<h1>Toolbox for Engineers &amp; Purchasers</h1>
          	</div>
          	<div id="accordion" role="tablist" aria-multiselectable="true" class="accordion">
          	  <div class="card">
          	    <div class="card-header active" role="tab" id="headingOne">
          	      <h5 class="mb-0">
          	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          	          <span class="icon pe-7s-pen"></span>Design Software
          	        </a>
          	      </h5>
          	    </div>

          	    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
          	      <div class="card-block">
          	      	<div class="row">
	          	         <div class="col-md-6">
	                        <ul class="list-styled">
	                        	<li><a href="#">REDEXPERT</a></li>
	                        	<li><a href="#">Würth Elektronik App</a></li>
	                        	<li><a href="#">Component Selector</a></li>
	                        	<li><a href="#">Smart Transformer Selector</a></li>
	                        </ul>
	                     </div>
	          	         <div class="col-md-6">
	                        <ul class="list-styled">
	                        	<li><a href="#">WEBENCH® Designer</a></li>
	                        	<li><a href="#">LTspice Simulator</a></li>
	                        	<li><a href="#">Analog IC Selector</a></li>
	                        </ul>
	                     </div>
          	      	</div>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingTwo">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          	          <span class="icon pe-7s-search"></span>Search Tools
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
          	      <div class="card-block">
                    <ul class="list-styled">
                    	<li><a href="#">Application Guide</a></li>
                    	<li><a href="#">Product Finder - One Click Selection Guide</a></li>
                    	<li><a href="#">Filter & Storage Applications</a></li>
                    	<li><a href="#">Mix and Match for Wireless Power Coils</a></li>
                    	<li><a href="#">RF Product Finder</a></li>
                    	<li><a href="#">Product Matrix - Power Inductors Selector</a></li>
                    	<li><a href="#">Product & Application Overview Electronic Components</a></li>
                    	<li><a href="#">Crossreference</a></li>
                    	<li><a href="#">IC Reference Designs</a></li>
                    	<li><a href="#">Search Engine for Passive Components</a></li>
                    	<li><a href="#">Search Engine for Electromechanical Components</a></li>
                    	<li><a href="#">EMC Lab Search Engine</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingThree">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          	          <span class="icon pe-7s-display2"></span>Libraries
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
          	      <div class="card-block">
                    <ul class="list-styled">
                     	<li><a href="#">Altium</a></li>
                    	<li><a href="#">Cadence OrCAD & Allegro</a></li>
                    	<li><a href="#">CADSTAR</a></li>
                    	<li><a href="#">Eagle</a></li>
                    	<li><a href="#">LTspice Bibilothek</a></li>
                    	<li><a href="#">Modelithics</a></li>
                    	<li><a href="#">S-Parameter</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	  <div class="card">
          	    <div class="card-header" role="tab" id="headingFour">
          	      <h5 class="mb-0">
          	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          	          <span class="icon pe-7s-monitor"></span>e-learning
          	        </a>
          	      </h5>
          	    </div>
          	    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
          	      <div class="card-block">
                    <ul class="list-styled">
                    	<li><a href="#">Application Notes</a></li>
                    	<li><a href="#">Tutorials for design engineers: @askLorandt explains</a></li>
                    	<li><a href="#">WEbinar Video: Cooking with the WE Component Selector</a></li>
                    	<li><a href="#">WEbinar Video: Power Factor Correction Chokes</a></li>
                    </ul>
          	      </div>
          	    </div>
          	  </div>
          	</div>
        </div>
    </div>
</div>